extends layout

block content
  h1= title
  p Welcome to #{title}
  div 하이
    table
      tr
        th No
        th 이름 
        th 이메일
      tr 
        td 1
        td min
        td 123@gmail.com
    table 
  ul 
    li ㅇㅇ
    li ㅋㅋ
